.table-container {

    .transaction-info {
        max-width: 100%;
        padding: 70px;
        margin-bottom: 70px;

        background-color: #ffffff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        border-radius: 8px;

        @include defaultFontBlack;
        text-align: center;

        
        .transaction-info__item,
        .transaction-info__title {
            margin-bottom: 20px;
        }

        .person-info__title {
            font-weight: 700;
            font-size: 18px;
        }
    }

    .table__header {
        display: flex;
        flex-direction: column;
    }

    .tible-title {
        padding: 30px;
        font-family: 'IBM Plex Mono', monospace;
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 17px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #6E6893;
    }
    
    .table {
        margin-bottom: 70px;

        width: 100%;
        background-color: #ffffff;
    
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
    
        .table__actions {
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .table__setect-container {
                display: flex;
                
                .table__select-lable {
                    margin-right: 5px;
                    @include defaultFontBlack;
                }
                
                #table__select {
                    width: 50px;
                }
            }

            .table__input-search {
                width: 392px;
                height: 40px;
                background: #F4F2FF;
                border-radius: 6px;
                border: none;
            }
        }

        .table__body {
            width: 100%;

            .table__row--default {
                background: rgba(240, 242, 244, 0.5);
            }

            .table__row {
                width: 100%;
                height: 48px;
                padding-left: 20px;
                display: flex;

                .transaction__list {
                    width: 100%;
                    display: flex;

                    .transaction__item {
                        width: 100%;
                        padding-right: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include defaultFontBlack;
                    }
                }
            }

            .table__row:hover {
                background-color: #F4F2FF;
                cursor: pointer;
            }
        }

        .table__footer {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: end;

            .pagination__list {
                display: flex;
                flex-direction: row;
                margin-right: 30px;

                .one-page {
                    font-family: 'IBM Plex Mono', monospace;
                    font-style: normal;
                    margin-right: 10px;
                }

                .pagination__item {
                    min-width: 25px;
                    height: 25px;
                    margin-right: 10px;
                    padding: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px gray solid;
                    cursor: pointer;
                }

                .pagination__item:hover {
                    background-color: #6E6893;
                }
            }
        }
    }
}

.table__no-result {
    @include defaultFontBlack;
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.switch-button {
  background: rgba(255, 255, 255, 0.56);
  border-radius: 30px;
  overflow: hidden;
  width: 240px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: #6E6893;
  position: relative;
  margin-bottom: 20px;
  padding-right: 120px;
  position: relative;

  &:before {
    content: "Hebrew";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
  }

  &-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;

    &:checked + .switch-button-label:before {
      transform: translateX(120px);
      transition: transform 300ms linear;
    }

    & + .switch-button-label {
      position: relative;
      padding: 15px 0;
      display: block;
      user-select: none;
      pointer-events: none;

      &:before {
        content: "";
        background: #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px;
        transform: translateX(0);
        transition: transform 300ms;
      }

      .switch-button-label-span {
        position: relative;
      }
    }
  }
}



